{% extends 'filemanager/base.html' %}

{% block title %}
{{ file_obj.name }} | Smart File Manager
{% endblock %}


{% block content %}


<div class="file-detail-page">


    <a
        href="{% url 'dashboard' %}"
        class="back-link">

        <i class="bi bi-arrow-left"></i>

        Back to Files

    </a>


    <div class="detail-card">


        <div class="detail-icon">

            {% if file_obj.category == "image" %}

                <i class="bi bi-image"></i>

            {% elif file_obj.category == "video" %}

                <i class="bi bi-camera-video"></i>

            {% elif file_obj.category == "document" %}

                <i class="bi bi-file-earmark-text"></i>

            {% else %}

                <i class="bi bi-file-earmark"></i>

            {% endif %}

        </div>


        <h2>
            {{ file_obj.name }}
        </h2>


        <div class="detail-information">


            <div>

                <span>
                    Category
                </span>

                <strong>
                    {{ file_obj.category_label }}
                </strong>

            </div>


            <div>

                <span>
                    Size
                </span>

                <strong>
                    {{ file_obj.file_size|filesizeformat }}
                </strong>

            </div>


            <div>

                <span>
                    Uploaded
                </span>

                <strong>
                    {{ file_obj.uploaded_at|date:"d M Y, h:i A" }}
                </strong>

            </div>


            <div>

                <span>
                    Extension
                </span>

                <strong>
                    {{ file_obj.extension }}
                </strong>

            </div>


        </div>


        <div class="detail-actions">


            {% if file_obj.category == "image" or file_obj.category == "video" or file_obj.extension == ".pdf" %}

                <a
                    href="{% url 'preview' file_obj.id %}"
                    target="_blank"
                    class="btn btn-primary">

                    <i class="bi bi-eye"></i>

                    Preview

                </a>

            {% endif %}


            <a
                href="{% url 'download' file_obj.id %}"
                class="btn btn-success">

                <i class="bi bi-download"></i>

                Download

            </a>


            <form
                method="post"
                action="{% url 'move_to_trash' file_obj.id %}">

                {% csrf_token %}

                <button
                    type="submit"
                    class="btn btn-outline-danger"
                    onclick="return confirm('Move this file to Trash?');">

                    <i class="bi bi-trash"></i>

                    Move to Trash

                </button>

            </form>


        </div>


    </div>

</div>

{% endblock %}